<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ica.icacounselor"
    android:versionCode="4"
    android:versionName="2.3" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ica.icacounselor.Login_activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="Follow_ups_list_first_level"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="Follow_ups_list_second_level"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="Follow_ups_list_third_level"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="Follow_ups_list_fourth_level"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="Remarks_pop_up"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="SetCounselorList"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ica.activity_util.SplashScreenActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ica.allenquiry.AllEnquiryTableActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ica.allenquiry.AllEnquiryDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>